
/*******************************************

Icons used are from http://www.famfamfam.com/lab/icons/silk/


				Defaults

Remember to use something like type-scale.com 
to get your font sizes
*******************************************/
*{
	padding:0;
	margin: 0;
}
html {font-size: 1em;}
html,body{
  
}
h1{
	padding:0.5rem 1.5rem;
    color: #69BC13;
}
h2{
    padding:0.5rem 1.5rem;
    color:#7EE217;
}
p{
    padding:0.5rem 1.5rem;
    color: #457C0D;
}
label{
    color: #223D06;
}
/*******************************************
				Layout
*******************************************/
.wrapper{
	
}
.masthead{
	
}
.main{
	
}
.foot{
    background: #223D06;
    clear: both;
	color:#fff;
	padding-top: 20px;
    overflow: hidden;
	border-top: 6px solid #333;
}

label[for=departure], label[for=destination] {
    display: inline-block;
    line-height: 20px;
    padding-left: 20px;
    background: url("../img/anchor.png");
    background-repeat: no-repeat;
    background-position: 2px 10px;
    
/*    no-repeat scroll 0 0 transparent;*/
}

label[for=departure_dt], label[for=return_dt] {
    display: inline-block;
    line-height: 20px;
    padding-left: 20px;
    background: url("../img/calendar.png");
    background-repeat: no-repeat;
    background-position: 2px 10px;
}
label[for=num_adults] {
    display: inline-block;
    line-height: 20px;
    padding-left: 20px;
    background: url("../img/group.png");
    background-repeat: no-repeat;
    background-position: 2px 10px;
}
label[for=price] {
    display: inline-block;
    line-height: 20px;
    padding-left: 20px;
    background: url("../img/money.png");
    background-repeat: no-repeat;
    background-position: 2px 10px;    
}
/*******************************************
				Form Styles
*******************************************/
@media screen and (max-width: 500px) {

.formBox{
	margin: 1.0rem 0;	
}

.col{
    	margin: 1.0rem 0;
}
.col+.buttons{

    text-align: center;
    width:100%;
}
    
label{
	display:block;
	width: 15rem;
	text-align:left;
	margin: 0 0 0 3rem;
	font-size: 1.2rem;
	padding: 0.6rem 0 0.3rem 0; /* more space on the top than the bottom */
	color: #223D06;
}
input[type=text],
input[type=number],
input[type=date]{
    display:block;
    width:15rem;
	text-align:left;	
	font-size: 1.2rem;
	padding: 0.5rem 0.5rem;
	margin: 0 0 0 3rem;
	color: #333;
}
input[type=range]{
	display:block;
	width: 16.5rem;
	text-align:left;
	margin: 0 0 0 3rem;
	font-size: 1.2rem;
	padding: 0.6rem 0 0.3rem 0; /* more space on the top than the bottom */
	color: #666;
}
input[type=submit],
input[type=reset]{
    border:none;
	width: 5rem;
    height: 2rem;
    margin-bottom: 5px;
    background-color: #8CFC19; 
}
    
}

@media screen and (min-width: 501px) and (max-width:780px) {
.formBox{
	margin: 1.0rem 0;	
    overflow: hidden;

}

.col{
    clear: both;
    float: left;
    overflow: hidden;
    }
.buttons{
    clear: both;
	width: 100%;
	padding:0 0 0 0;
}
 
.col+.buttons{
    width:100%;
    text-align: center;
}
    
label{
   clear: both;
    float:left;
	width: 8rem;
	text-align:right;
/*	margin: 0px 1.5rem 0px 0px;*/
    margin: 1px 0 0 3rem;
/*    margin: 1px 0px 0px 0px;*/
	font-size: 1.2rem;
	padding:0.5rem 0rem 1.0rem 0.2rem;
	color: #223D06;
}
input[type=text],
input[type=number],
input[type=date]{
    float: left;
    width:15rem;
	text-align:left;	
	font-size: 1.2rem;
	padding:0.5rem 0.5rem;
	margin: 0 0 0 1.5rem;
	color: #333;
}
input[type=range]{
	float: left;
	width: 16.5rem;
	text-align:left;
	margin: 0 0 0 1.5rem;
	font-size: 1.2rem;
	padding: 0.6rem 0 0.3rem 0; /* more space on the top than the bottom */
	color: #666;
}
input[type=submit],
input[type=reset]{
    border:none;
	width: 15rem;
    height: 2rem;
    margin-bottom: 5px;
    background-color: #8CFC19; 
}
    
}

@media screen and (min-width: 781px){
.formBox{
    display: inline-block;
    width:50%;

}

.col:nth-child(even){
    display: inline-block;
    width:50%;
}
.col:nth-child(odd){
    display: inline-block;
    width:50%;
}
.col + .buttons{
    clear: both;
    width:100%;
    text-align: center;
    margin: 0 auto;
}

label{
	width: 3rem;
	text-align: right;
	float:left;
	margin: 1px 0px 0px 0px;
	font-size: 1.2rem;
	padding:0.2rem 0.2rem 0.5rem 0.5rem;
	color: #223D06;
}
input[type=text],
input[type=number],
input[type=date]{
    float: left;
	text-align:left;	
    width:12rem;
	font-size: 1.2rem;
	padding:0.5rem 0.5rem;
	margin: 0 0 0 3rem;
	color: #333;
}
input[type=range]{
	float: left;
	width: 13.5rem;
	text-align:left;
	margin: 0 0 0 3rem;
	font-size: 1.2rem;
	padding: 0.6rem 0 0.3rem 0; /* more space on the top than the bottom */
	color: #666;
}
input[type=submit],
input[type=reset]{
    border:none;
	width: 15rem;
    height: 2rem;
    margin-bottom: 5px;
    background-color: #8CFC19; 
}

}
/*******************************************
				Image Styles
*******************************************/

